/*
h1 
{ 
    color:#23accf 
}

p 
{
    color: aqua;
    
}

h2
{
    color:blueviolet;
}

h3
{
    font-size: 45px;
    color: white;
    background-color: black;
}
h3+p
{
    color: red;
}
*/

img {
    z-index: -1;
    position:sticky;
    opacity: .2;
}
.M3{
    color: rgb(222, 18, 18);
    
    text-decoration:double;
}

#idPerso
{
    color: green;
    font-size: xx-large;
}
